@import-normalize;

@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Jura";
  src: url(./fonts/Jura-VariableFont_wght.ttf)
  ;
}

#root {
  width: 100%;
  display: flex;
  background-color: #373737;
  justify-content: center;
  flex-wrap: wrap;
}
